@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// @font-face {
//   font-family: icons;
//   src: url("icons.ttf");
// }

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $bggrey;
  font-family: Roboto, sans-serif;
  display: grid;
  * {
    line-height: calc(2px + 2ex + 2px);
  }
  .figuur1 {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(2) {
    background-color: #59c9a5;
  }
  .figuur1 > div:nth-child(3) {
    background-color: #5b6c5d;
  }
  .figuur1 > div:nth-child(4) {
    background-color: #27476e;
  }
  /* alle kleuren voor dit vlak: #56E39F  #59C9A5  #5B6C5D  #27476E*/
  .figuur2 {
    background-color: #f1d302;
  }
  .figuur2 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur2 > div:nth-child(2) {
    background-color: #c1292e;
  }
  .figuur2 > div:nth-child(3) {
    background-color: #235789;
  }
  .figuur2 > div:nth-child(4) {
    background-color: #f0a202;
  }
  /* alle kleuren voor dit vlak: #F1D302  #C1292E  #235789  #F0A202 */
  .figuur3 {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(1) {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(2) {
    background-color: #f4e04d;
  }
  .figuur3 > div:nth-child(3) {
    background-color: #54f2f2;
  }
  .figuur3 > div:nth-child(4) {
    background-color: #5eb1bf;
  }
  /* alle kleuren voor dit vlak: #B3001B  #F4E04D  #54F2F2  #5EB1BF */
  .figuur4 {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(1) {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(2) {
    background-color: #30332e;
  }
  .figuur4 > div:nth-child(3) {
    background-color: #62bbc1;
  }
  .figuur4 > div:nth-child(4) {
    background-color: #ec058e;
  }
  /* alle kleuren voor dit vlak: #FF715B  #30332E  #62BBC1  #EC058E */
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

header a.mobiel {
  display: inline;
}

header a:not(.mobiel) {
  display: none;
}


header a {
  display: none;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 1rem;
  color: black;
}

header a.mobiel {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}

.billboard:first-child {
  padding: 3rem 2rem;
  height: 30vh;
  color: white;
  background-image: url(../images/achtergrond-nacht.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.billboard:first-child h2 {
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 4rem;
}

.billboard:first-child p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.overons {
  padding: 3rem 2rem;
}

.hoofding h2 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.hoofding p {
  font-size: 2rem;
  font-style: italic;
  margin-block: 1rem;
}

.overons h3 {
  font-size: 2rem;
  font-weight: bold;
}

.overons input {
  margin-bottom: 1rem;
  border: none;
  background-color: black;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 2px;
}

.overons p {
  line-height: 2.5rem;
  margin-block: 0.7rem;
  font-size: 1.2rem;
}

.hoofding p {
  font-size: 1.6rem;
  font-style: italic;
  margin-block: 1rem;
}

.sectie1 {
  margin-bottom: 2rem;
}

.sectie2 {
  margin-bottom: 2rem;
}
.sectie3 {
  margin-bottom: 2rem;
}

.billboard:nth-child(3) {
  padding: 3rem 2rem;
  height: 30vh;
  color: white;
  background-image: url(../images/achtergrond-nacht.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.billboard:nth-child(3) h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 4rem;
}

.billboard:nth-child(3) p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.watwedoen .hoofding {
  padding: 1rem 2rem;
}

.watwedoen .sectie1,
.watwedoen .sectie2,
.watwedoen .sectie3,
.watwedoen .sectie4 {
  padding: 1rem 2rem;
}

.watwedoen h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 1rem;
}

.watwedoen p {
  font-size: 1.4rem;
}

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  padding: 3rem 2rem;
  background-color: black;
  color: white;
}

footer p {
  font-size: 1.2rem;
  margin-block: 1rem;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer ul a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.figuur1,
.figuur2,
.figuur3,
.figuur4 {
  width: 100%;
  height: 250px;
}

@media (min-width: 900px) {
  header a:not(.mobiel) {
    display: inline;
  }
  
  header nav a{
    display: inline;
  }

  header a.mobiel {
    display: none;
  }

  header nav {
    display: inline;
  }

  .overons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; 
  }

  .overons .hoofding {
    grid-column: 1 / 4;
  }

  .watwedoen {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .watwedoen .hoofding {
    grid-column: 1 /3
  };

  .figuur1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .figuur1 :first-child {
    grid-row: 1 / 4;
  }

  .figuur2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .figuur2 :nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/ 4;
  }

  .figuur3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .figuur3 :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/ 4;
  }


  .figuur4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .figuur4 :nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/ 4;
  }

}


@media (min-width: 1200px) {

  .figuur1,
.figuur2,
.figuur3,
.figuur4 {
  width: 100%;
  height: 200px;
}

  .watwedoen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .watwedoen .hoofding {
    grid-column: 1/ 5;
  }

  .figuur1 :first-child {
    grid-column: 1/3;
    grid-row: 1;
  }

  .figuur1 :nth-child(2) {
    grid-row: 2/ 4;
  }

  .figuur2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:1fr ;
  }

  .figuur3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .figuur3 :nth-child(1) {
   grid-column: 1; 
   grid-row: 1/2;
  }


  .figuur4 :nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/ 4;
  }

  .figuur4 :nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }


}